@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}



#navbar{
    display: flex;
    position: fixed;
    background-color: rgb(246, 237, 237);
    height: 8vh;
    width: 100rem;
    z-index: 100;
    opacity:1.90;
    padding: 0;
    margin: 0;

}

#logo{
    margin: 1px 9px;
    cursor: pointer;
    background-color:  rgb(246, 237, 237);;


}

#logo img{
    height: 36px;
    margin: 7px 10px;
    background-color: rgb(246, 237, 237);
    
}

#navbar ul{
    display: flex;
    width: 83rem;
}

/* #navbar::before{
    content: "";
    background-color: rgb(242, 164, 164);
    position: absolute;
    height: 100%;
    width: 100vh;
    z-index: -1;
    opacity: 0.9;
    

}  */


#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Cormorant Garamond', serif;


}
#navbar ul li a{
    
    display: block;
    margin: 10px;
    padding: 8px 33px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navbar ul li a:hover{
   text-decoration: underline;
   color:rgb(238, 53, 115);

}
.shopping-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px;
    cursor: pointer;
    border: 3px solid rgb(226, 199, 61);;
    border-radius: 10%;


}
.cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 4rem;
    font-family: 'Cormorant Garamond', serif;
    list-style: none;
    background: transparent;
    font-size: 1.2rem;
    padding: 1px;
    margin: 0;

}
.shopping-cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    color: rgb(0, 0, 0);
    padding: 1px;
    margin: 0;


}

.shopping-cart a:hover{
    color:rgb(147, 124, 11);
    font-size: 1.5rem;
   
}

.container-cart {
    padding: 6rem;
    height: 100%;
    width: 100%;

}
.container-cart .section-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3rem;
    
}

.btn-cart {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}



.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-items{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleimages 16s infinite;
}

.slideshow-items:nth-child(1),
.slideshow-items:nth-child(1) img {
    animation-delay: 0s;
}
.slideshow-items:nth-child(2),
.slideshow-items:nth-child(2) img {
    animation-delay: 5s;
}
.slideshow-items:nth-child(3),
.slideshow-items:nth-child(3) img {
    animation-delay: 10s;
}





.slideshow-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
    filter: brightness(30%);
}

.slideshow-items-text{
    max-width: 50%;
    position:absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 0rem 0rem;
}

.slideshow-items-text h{

    font-size: 7rem;
    color: white;
    padding: 4px;
    font-family: 'Dancing Script', cursive;
}

.slideshow-items-text p{
    font-size: 2rem;
    color: white;
    padding: 12px;
    font-family: 'Dosis', sans-serif;

}


.btn{
    height: 70px;
    width: 160px;
    padding: 10px 8px;
    border: 7px solid rgb(210 183 51);
    background-color: transparent;
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(210 183 51);
    transition: ease-in-out 0.4s;
    
    

}
.btn:hover{
    box-shadow: inset 0 70px 0 0 rgb(210 183 51);
    
    margin: 24px;
    
}

@keyframes cycleimages {
    10%{
        opacity: 1;

    }
    70%{
        opacity: 0;

    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3);
    }
}

#about{
    display: flex;
   

}

.imagebg{
    background: url(../img/bg4.jpg) no-repeat center center/cover;
    height: 666px;
    width: 1300px;
    margin: 25px;
}

.writing{
    justify-content: center;

}

.Fresh{
    color: black;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    padding: 15px;
    margin: 50px;

    
    
}
.writing p{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    padding: 1px 50px;
    margin: 2px;
    color: black;


}

.container-1{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 230px;
    background-color: rgb(226, 226, 226);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
    font-size: 1rem;
    color: black;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(37, 37, 37);
    transition: ease-in-out 0.3s;
    

}
.container-1 .ratings{
    display: flex;
    align-self: start;
    margin: 6px;
}

.container-2 .ratings{
    display: flex;
    align-self: start;
    margin: 7px;
}
    


.container-1:hover{
    box-shadow: inset 0 120px 0 0 rgb(37, 37, 37);
    color: white;
    padding: 25px;
    cursor: pointer;
    
}

.container-2{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 230px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 80px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    box-shadow: inset 0 0 0 0 rgb(226, 226, 226);
    transition: ease-in-out 0.3s;

}
.container-2:hover{
    box-shadow: inset 0 120px 0 0 rgb(226, 226, 226);
    color: black;
    padding: 25px;
    cursor: pointer;


}

#about .writing .icons-container{
    display: flex;
    text-align: center;
    padding:0rem 1rem;
    

}


#about .writing .icons-container .icons {
    
    margin-right: 70px;
}
#about .writing .icons-container .icons img{
    height: 5rem;
    padding: 5px;  
   
}

#about .writing .icons-container .icons h3{
    font-size: 1.1rem;
   
    font-weight: normal;
    font-family: 'Dosis', sans-serif;
}

#slider .popular-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popular-menu h1{
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 3rem;
    padding: 20px;
    margin: 3rem;


}

.swiper{
    width: 1000px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination{
    --swiper-theme-color: white;
    --swiper-navigation-size: 30px;
} 
#slider .card .card-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 3px;
}

#slider .card .card-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.card{

    border-radius: 20px;
    background-color: beige;
    position: relative;
    margin: 20px,0;

}

.card:hover{
    border: 3px solid rgb(225, 208, 47); 
    margin: 5px;
}

.card::before{
    content: "";
    position: absolute;
    height: 91%;
    width: 100%;
    background: wheat;
    border-radius: 20px;
}

#slider .containerfood{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
  

}

.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
    
}

.card .name-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;

}

.name-price .food-name{
    font-size: 20px;
    font-weight: 600;
}
.name-price .price{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.card .ratings{
    display: flex;
    align-items: center;
    margin-top: 18px;



}

.card .ratings i{
    font-size: 18px;
    margin: 0,2px;
    color:rgb(236, 179, 73);

}

.addtocard button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    background:rgb(236, 179, 73) ;
    border-color: rgb(236, 179, 73);;
    
}

.product-menu{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.ourmenus{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 3rem;
    padding: 20px;
    margin: 20px;

}

.product-menu .product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
}


.product-menu .product-container .product{
    text-align: center;
    padding: 2rem 1rem;
    background: rgb(229, 212, 179);
    box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
    outline: .1rem solid green;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 10%;
}

.product-menu .product-container .product:hover{
    outline: .2rem solid rgb(236, 179, 73)  ;
    outline-offset: 0;

}

.product-menu.product-container .product img{
    height: 10rem;
}

.product-menu .product-container .product:hover img{
    transform: scale(0.9);
}

.product-menu .product-container .product h3{
    padding: 0.4 0;
    font-size: 1.8rem;
    color: #333;
}

.product-menu.product-container .product h3:hover{
    color: green;
}
.product-menu .product-container .product .product-price{
    font-size: 1.2rem;
    color: #333;
}

.product-preview{
    position: fixed;
    top: 0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;

}

.product-preview .preview{
    display: none;
    padding: 1rem;
    text-align: center;
    background: rgb(229, 212, 179);
    position: relative;
    margin: 2rem;
    width: 25rem;
    border-radius: 5%;
}

.product-preview .preview.active{
    display: inline-block;
}


.product-preview .preview img{
    height: 14rem;
}

.product-preview .preview .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #333;
    font-size: 2rem;
}

.product-preview .preview .fa-times:hover{
    transform: rotate(90deg);
    color:rgb(238, 53, 115);
}
    

.product-preview .preview h3{
    color: #333;
    padding: 0.9 0;
    font-size: 2rem;
    margin: 0.5rem;
}

.product-preview .preview .ratings{
    padding: 2rem, 0;
    font-size: 1;
    margin: 0.7rem;
}

.product-preview .preview .ratings i{
    color:rgb(236, 179, 73);

}

.product-preview .preview p{
    line-height: 1.5rem;
    padding: 3rem, 1rem;
    font-size: 1rem;
    color: #555;

}

.product-preview .preview .product-price{
    padding: 1rem, 0;
    font-size: 1.6rem;
    color: black;
    margin: 0.7rem;
}

.product-preview .preview .addtocard{
    display: flex;
    justify-content: center;
    align-items: center;
}


#gallery{
    margin-top: 0.5rem;

}

 #gallery .gallery-name{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 2.5rem;
    padding: 15px;
    

}

#gallery .slideshow{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#gallery .slideshow .slider{
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    
}

#gallery .slideshow .slider .images{
    display: flex;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    

}

#gallery .slideshow .slider .images img{
    height: 100%;
    width: 100%;
    transition: all 0.15s ease;
    cursor: pointer;
    object-fit: cover;
}
#gallery .slideshow .slider .images input{
    display: none;
}

#gallery .slideshow .slider .dots{
    display: flex;
    justify-content: center;
    margin: 0.3rem;
    
}

#gallery .slideshow .slider .dots label{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid black 2px;
    cursor: pointer;
    transition: all 0.15sec ease;
    margin: 0.5rem;
} 
#gallery .slideshow .slider .dots label:hover{
    background-color: black;
}

#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
} 
#img5:checked ~ .m6 {
    margin-left: -500%;
} 


#contact{
    display: flex;
    margin: 40px;
           
}

.contact-1{
    height: 100%;
    width: 100%;
    margin: 50px;
    padding: 70px;


}
.contactlogo{
    margin: 1px 9px;

}
.contactlogo img{
    height: 60px;
    width: 80px;
    margin: 10px;
}

.contactinfo{
    padding: 20px;
    margin: 5px;
}

.contactinfo h1{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;

}

.contactinfo p{
    font-size: 0.9rem;
    color: gray;
}
.contactinfo h2{
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}
.contact-2{
    height: 100%;
    width: 100%;
    margin: 50px;
    padding: 15px;

}



.contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 11px;
    margin: 33px 100px;
    padding: 20px 38px;
    width: 60%;
    border-radius: 21px;
    
}
.contactus input{
    height: 30px;
    width:250px;
    margin:10px;
    padding: 6px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border: 2px solid black;
    

}
.contactbtn{
    height: 50px;
    width: 150px;
    padding: 9px 12px;
    border: 2px solid black;
    background-color: black;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-in-out 0.3s;
    
    

}
.contactbtn:hover{
    box-shadow: inset 0 50px 0 0 white;
    color: black;
    margin: 24px;
    
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: white;
}


